<html>
	<head>


		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename= 'style.css') }}">
	</head>
	<img class="resize" id="logo" src="{{url_for('static', filename='images/newlogo.jpg')}}">
		<ul>
		<li><a href="/">Home</a></li>
		<li><a href="/UserBorrowHistory">My Borrows</a></li>
		<li><a href="/UserSearchBook">Search A Book</a></li>
		<li><a href="/UserOrderBook">Order A Book</a></li>
		<li><a href="/UserOrderHistory">My Orders</a></li>
		<li style="float:right"><a href="/logout">Logout</a></li>
		</ul>
		<img class="logsize" id="login" src="{{url_for('static', filename='images/myorders.jpg')}}">
		<body class="background">
		<h2> Active Orders</h2>
		<h5>active orders will be saved for the customer until 3 days after availability date</h5>
		{{noorders}}
		{% if not noorders%}
		<table border=1>
		<tr>
		<td>book name</td>
		<td>branch</td>
		<td>order date</td>
		<td>availability date</td>
		<td>status</td>
		</tr>
		<tr>
                {% for row in active %}
                    <tr>
                    <td>{{row[13]}}</td>    
                    <td>{{row[6]}}</td>    
                    <td>{{row[3]}}</td>
					{%if not row[2]=="active"%}
					<td>{{row[-2]}}</td>
					{%endif%}
					{%if row[2]=="active"%}
					<td>{{row[-1]}}</td>
					{%endif%}
					<td>{{row[2]}}</td>
					</tr>
					
                {% endfor %}
		</table>
		{%endif%}
		{{pop_up}}
		<h2>History Orders</h2>
		{{noordershistory}}
		{% if not noordershistory%}
		<table border=1>
		<tr>
		<td>book name</td>
		<td>branch</td>
		<td>Order date</td>
		<td>was available in</td>
		<td>Order status</td>
		<td>Current status</td>
		</tr>
		<tr>
                {% for row in history %}
                    <tr>
                    <td>{{row[13]}}</td>    
                    <td>{{row[6]}}</td>    
                    <td>{{row[3]}}</td>
					<td>{{row[8]}}</td>
					<td>{{row[2]}}</td>
					<td>{{row[5]}}</td>
					</tr>
					
                {% endfor %}
            </tr>
		</table>
		{%endif%}
		<br>
		<footer class="footer">
			<p>Powered By Group 6</p>
			<p>Book King 2023</p>
			</footer>
		
	</body>
</html>

